.MuiTabs-flexContainer {
  justify-content: center;
}

.first-Banner {
  background-color: rgb(210, 83, 54);
}

.secound-Banner {
  background-color: rgb(86, 84, 92);
}

@media (max-width: 767.98px) {
  .productCard {
    width: 15rem !important;
  }
  .searchForm {
    width: 45% !important;
  }
}

@media (max-width: 576.98px) {
  .productCard {
    width: 8rem !important;
  }
  .productCard img {
    height: 100px !important;
  }
  .productCard h5 {
    font-size: 15px !important;
  }
  .productCard a {
    font-size: 13px !important;
  }
  .products {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .carousel-item {
    height: 250px !important;
  }
  .carousel-item img {
    height: 250px !important;
  }
}